<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Cell-Phone</th>
    <th>Pay type</th>
    <th>Delivery Day</th>
    <th>Delivery Time</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.cell_phone %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.deli_day %></td>
        <td><%= order.deli_time %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Check order', {:controller => "admin", :action => "check_order", :order_id => order.id} %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<%= paginate @orders %>

<br/>
<!--<%= link_to 'New Order', new_order_path %>-->

<%= link_to 'Check all Order of today', {:controller => "admin", :action => "check_today_order"} %>
<br>
<%= link_to 'Uncheck all Order of today', {:controller => "admin", :action => "uncheck_today_order"} %>
