<%= "advertise" %>

<table>
  <tbody>
  <tr>
    <td class="LeftCell">
      <div class="InfoContent AboutUs">
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>

        <%= link_to(image_tag("/images/home/Insights-logo.gif"), store_url) %>
        <%= link_to 'http://demoshop.com',store_url %> <br>

        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>
        Advertise you with us. <span>DemoShop</span> Advertise you with us. <span>DemoShop</span>  <br>

      </div>
    </td>
    <td class="RightCell">
      <%= image_tag "/images/home/Advertise.jpg" %>
      <%= link_to "http://demoshop.com", store_url %>
    </td>
  </tr>
  </tbody>
</table>