<%= "Contact us" %>

<table>
  <tbody>
  <tr>
    <td class="LeftCell">
      <div class="InfoContent AboutUs">
        <span>Common Issues:</span>
        <li><%= link_to "I forgot my password...", "/common/faq/#forgot_password" %></li>
        <li><%= link_to "Problems with delivery...", "/common/faq/#delivery" %></li>
        <br>
        For more issues see <%= link_to "Frequently Asked Questions ", "/common/faq" %>
        <br>
        <br>

        <span>Business Enquiries:</span><br>

        Demoshop provides a range of services for businesses. <br>
        To find out more please contact us: <br>
        Press: <br>
        By email:    <%= mail_to "press@demoshop.com" %>  <br>
        <br>

        Advertisers: <br>
        By email:    <%= mail_to "advertising@demoshop.com" %> <br>
        Manufacturers: <br>
        By email:    <%= mail_to "manufacturers@demoshop.com" %> <br>
        Affiliates: <br>
        By email:    <%= mail_to "affiliates@demoshop.com" %>  <br>
        All other enquiries: <br>
        By email:    <%= mail_to "enquiries@demoshop.com" %>  <br>


      </div>
    </td>
    <td class="RightCell">

    </td>
  </tr>
  </tbody>
</table>