  <div class="FooterPanel">
    <div class="InfoMenuContent">

    <table class="InfoMenu" border="0">
      <tr>
        <td>
            <%= link_to "About us"  %> |
            <%= link_to "Security"  %> |
            <%= link_to "Privacy"   %> |
            <%= link_to "Advertise" %> |
            <%= link_to "Site map"  %> |
            <%= link_to "FAQ"        %> |
            <%= link_to "Contact us"%>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td>© TestDemoShop Limited, 2011-2011. All rights reserved.</td>
      </tr>
    </table>
    </div>
  </div>