  <div class="FooterPanel">
    <div class="InfoMenuContent">

    <table class="InfoMenu" border="0">
      <tr>
        <td>
          <%= link_to "About us","/common/about_us" %> |
          <%= link_to "Security","/common/security"  %> |
          <%= link_to "Privacy","/common/privacy"   %> |
          <%= link_to "Advertise","/common/advertise" %> |
          <%= link_to "Site map","/common/sitemap"  %> |
          <%= link_to "FAQ","/common/faq"        %> |
          <%= link_to "Contact us","/common/contact" %>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td>© TestDemoShop Limited, 2011-2011. All rights reserved.</td>
      </tr>
    </table>
    </div>
  </div>