<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>
  <title>DemoShop</title>
  <%= stylesheet_link_tag "common", :media=>"all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body class="common">
<div class="SiteHeader_common">
  <div id="HeaderContainer" class="Header">

    <%= link_to(image_tag("/images/home/someShoppingLogo.jpg"), store_path, {:class => "Logo"}) %>

    <div id="WelcomeSection" class="WelcomeSection">
      <div class="WelcomeMSG">Welcome, (<%= link_to "Log in", login_url %>)</div>
      <div class="CartLogo">
        <table>
          <tr>
            <td class="LogoCell"><%= link_to image_tag("/images/home/CartLogo.gif"), "/store/category/" %></td>
            <td class="DataCell"><span><%= link_to "#{session[:cart_id] ? Cart.find(session[:cart_id]).cart_total_price : '0.0'}", "/store/category/"%></span></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="SiteMenuSection" class="SiteMenuSection">
      <div class="NaviBar_a">
        <%= link_to "Register", "/register/" %> -
        <%= link_to "Login", login_url %>

        <% if session[:user_id] %>
            - <%= link_to "Category", "/store/category/" %> -
            <%= link_to "Order History", "/store/order_history" %>
            <br>

            <% if User.find(session[:user_id]).role == "admin" %>
                <%= link_to "orders",orders_path %> -
                <%= link_to "order_today", "/admin/order_today" %>
                <br>

                <%= link_to "merchandises", merchandises_path %> -
                <%= link_to "users", users_path %>
            <% end %>

            <%= button_to 'logout', logout_path, :method => :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="PageBox">
  <table class="PageTable">
    <tbody>
    <tr class="SubHeaderCell">
      <td class="TitleCell">
        <h1><%= %></h1>
      </td>
      <td class="ButtonCell"></td>
    </tr>
    <tr>
      <td class="ContentCell">
        <%= yield %>
      </td>
      <td class="AdCell"></td>
    </tr>
    <tr>
      <td>
        <div class="FooterCell">
          <div class="HorizontalSeparator"></div>
          <div id="XPollinationContainer" class="XPollinationContainer">
            <div class="CategoryPanel">
              <span class="SectionTitle">Top Category</span>
              <% Category.all.each do |c| %>
                  <%= link_to "#{c.category}", "/categories/#{c.id}" %>
              <% end %>
              <span><%= link_to 'ALL CATEGORY', "/categories/", {:class=>"AllItemsLink"} %></span>
            </div>
            <div class="BrandPanel">
              <span class="SectionTitle">Top Brand</span>
              <%= link_to "dummy", "/dummy" %>
              <%= link_to "dummy", "/dummy" %>
              <%= link_to "dummy", "/dummy" %>
              <span><%= link_to "ALL BRAND", "/brands/", {:class=>"AllItemsLink"} %></span>
            </div>
            <div class="LearnMorePanel">
              <span class="SectionTitle">Learn More</span>
              <%= link_to "Help Center", "/common/faq" %>
              <%= link_to "Promotion", "/common/promotion" %>
              <%= link_to "Watch Demo", "/common/demo" %>
              <%= link_to "Whats New", "/common/news" %>
              <%= link_to "Points", "/common/point" %>
              <%= link_to "Vouchers", "/common/voucher" %>
            </div>
            <div class="AboutPanel">
              <span class="SectionTitle">About</span>
              <%= link_to "About Us", "/common/about_us" %>
              <%= link_to "Testimonials", "/common/testimonial" %>
              <%= link_to "Advertise", "/common/advertise" %>
              <%= link_to "Affiliate", "/common/affiliate" %>
              <%= link_to "Delivery TimeTable", "/common/delivery_timetable" %>
            </div>
            <div class="ContactPanel">
              <span class="SectionTitle">Contact</span>
              <%= link_to "Contract Us", "/common/contact" %>
              <%= mail_to "surport@demoshop.com" %>
            </div>
          </div>

        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<%= render '/layouts/footer' %>

</body>
</html>

