<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>
  <title>DemoShop</title>
  <%= stylesheet_link_tag "toppage", :media=>"all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body class="store">

<div class="TopLine">

</div>


<div class="HomepageHeader">
  <div class="logo">
    <%= image_tag("/images/home/someShoppingLogo.jpg") %>
  </div>

    <span class="buttons">
        <%= link_to image_tag("/images/home/Sign_in.gif"), login_url %>
      <%= link_to image_tag("/images/home/Register.gif"), "/register/" %>
    </span>

  <!--<%= "Online Supermarket" %>-->

</div>

<div class="MainBody">
  <div class="RightSidePanel">

  </div>
  <div class="leftPanel">
    <div class="Title">
      <%= image_tag("/images/home/Title1.gif") %>
    </div>
    <div class="SubTitle">
      SAVE UP TO 35% on your shopping<br>
      £1,000 a year!
    </div>
    <div class="Text">
      TestDemoShop is a completely FREE website <br>
      a completely FREE website <br>
      a completely FREE website <br>
      a completely FREE website <br>
      <span id="TryIt">Try it now!</span>
    </div>

    <div class="ButtonPanel">
      <%= image_tag("/images/home/start_shopping.jpg") %>
    </div>

    <div class="BrowsePane">
      <%= link_to "Browse Around" %>
    </div>

  </div>

  <div class="bottomPanel">
    <div class="VideoPanel">
      <%= link_to((image_tag "/images/home/Movie_icon.gif"), "/store/movie") %>
    </div>
    <div class="StoreLogosPanel">
      <%= image_tag("/images/home/Sainsbury_logo.gif") %>
    </div>
  </div>


  <div id="AdContainer" class="MainContentDartAd">
    <div class="DartAdPlaceHolderHomePageAdLeftPrompt" id="DartAdContainer_1">
      <%= image_tag "/images/home/Advertisement.gif" %>
      <%= image_tag "/images/home/ad.jpg" %>
    </div>
  </div>


  <div id="PressPanel" class="PressPanel">
    <div><span><%= image_tag "/images/home/Telegraph_logo.gif" %></span></div>
    <div><span><%= image_tag "/images/home/Glamour_logo.gif" %></span></div>
    <div><span><%= image_tag "/images/home/Times_logo.gif" %></span></div>
  </div>

</div>

<%= render '/layouts/footer' %>

</body>


</html>
